<div class="container">
    <div class="row">
        <div *ngFor="let weather of weatherData" class="col">
            <div class="card mb-4" style="width: 100%;">
                <div class="card-header">{{ weather.date | date:'EEE, d MMM' }}</div>
                <div class="card-body">
                    <i [class]="getWeatherIconClass(weather.weather)" class="moving-icon"
                        style="font-size: 28px; margin-right: 8px;" data-toggle="tooltip" data-placement="top"
                        title="{{ weather.weather }}" data-delay="0"></i>
                    {{ weather.temperature }} °C
                    <div class="wind" style="margin-top: 20px;">
                        <i class="fa-solid fa-wind" style="font-size: 28px; margin-right: 8px;" data-toggle="tooltip"
                            data-placement="top" title="Wind"></i>
                        {{ weather.wind_speed }} m/s
                    </div>
                    <div class="humidity" style="margin-top: 20px;">
                        <i class="fa-solid fa-droplet" style="font-size: 28px; margin-right: 8px;" data-toggle="tooltip"
                            data-placement="top" title="Humidity"></i>
                        {{ weather.humidity }}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>