<div class="modal-header">
  <h3>2024 Season</h3>
  <button type="button" class="close" aria-label="Close" (click)="closePopup()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
    <div class="row">
      <div *ngFor="let race of races" class="col-md-6 race-item"
      [ngClass]="{'highlighted': round === race.round}">
        {{ race.raceName }} - <img src="assets/images/flags/{{race.country}}.png" alt="Flag" class="ml-2" width="28" height="17"> - Round {{ race.round }}
      </div>
    </div>
  </div>
