<nav class="navbar navbar-expand-sm bg-primary navdar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" routerlinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-employee" routerlinkActive="active" class="nav-link">Add Employee</a>
        </li>
        <li class="nav-item">
            <a routerLink="drivers-list" routerlinkActive="active" class="nav-link">Drivers F1 List</a>
        </li>

        <li class="nav-item">
            <a routerLink="calendar" routerlinkActive="active" class="nav-link">Calendar</a>
        </li>

        <li class="nav-item">
            <a routerLink="login" routerlinkActive="active" class="nav-link">Fantasy</a>
        </li>

        <li class="nav-item">
            <a routerLink="test-css" routerlinkActive="active" class="nav-link">TestCss</a>
        </li>

        
    </ul>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>
