<p>fantasy-home works!</p>
<h4>User : {{ user.userName }}</h4>
<button class="btn btn-link" (click)="logout()">Logout</button>


<div class="card">
    <!--
    <div class="card-header">
      <h5 class="card-title">{{ user.teamName }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let driver of user.drivers">
          <div class="card">
            <img [src]="driver.photo" class="card-img-top" alt="{{ driver.name }}">
            <div class="card-body">
              <h6 class="card-title">{{ driver.name }}</h6>
              <p class="card-text">{{ driver.teamName }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <img [src]="user.carPhoto" class="card-img-top" alt="{{ user.teamName }}'s car">
            <div class="card-body">
              <h6 class="card-title">{{ user.carName }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>