<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage}}
  </div>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  <div *ngIf="predictionLocked" class="alert alert-warning" role="alert">
    You no longer can make a prediction. Quali has already started!
  </div>
  <header *ngIf="!isLoggedIn" class="jumbotron">
    <p *ngIf="!isLoggedIn">Welcome to the app. Please log in to access all the content available</p>
  </header>
  <div *ngIf="isLoggedIn">
    <h3 class="text-center mt-3">Next Race: {{ nameRace }} | Round: {{ round }}</h3>
    <div class="row mt-4" *ngIf="!predictionLocked">
      <div class="col-md-2 offset-md-2 text-center">
        <div class="circle">
          <p class="circle-text">{{ timeRemaining.days }}</p>
          <p>Days</p>
        </div>
      </div>
      <div class="col-md-2 mb-5 text-center">
        <div class="circle">
          <p class="circle-text">{{ timeRemaining.hours }}</p>
          <p>Hours</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="circle">
          <p class="circle-text">{{ timeRemaining.minutes }}</p>
          <p>Minutes</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="circle">
          <p class="circle-text">{{ timeRemaining.seconds }}</p>
          <p>Seconds</p>
        </div>
      </div>
    </div>
    <div class="mt-4" *ngIf="predictionLocked">
        <h5 class="text-center mt-3">Wait for race to be completed, to get the weekend results!</h5>
    </div>
  </div>
  <ngx-spinner>
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;"  role="status">
          <span class="sr-only">Loading...</span>
    </div>
  </div>
  </ngx-spinner>
  <div *ngIf="userHasPrediction" class="container mt5">
    <div class="row">
      <!-- Highlighted container -->
      <div class="col-md-5 bg-info p-3 mr-3 rounded">
        <!-- Three boxes displayed horizontally -->
        <div class="row">
          <!-- Left box (Second Driver) -->
          <div class="col-md-4 text-center">
            <div class="prediction-box">
              <p>{{ pSecond }}</p>
            </div>
          </div>

          <!-- Middle box (First Driver) -->
          <div class="col-md-4 text-center">
            <div class="prediction-box">
              <p>{{ pFirst }}</p>
            </div>
          </div>

          <!-- Right box (Third Driver) -->
          <div class="col-md-4 text-center">
            <div class="prediction-box">
              <p>{{ pThird }}</p>
            </div>
          </div>

        </div>

        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <ng-container *ngIf="!showDrivers; else listShown">
              <div *ngIf="!predictionLocked">
                <p class="mb-0">Change Prediction</p>
                <span (click)="showDrivers = !showDrivers">
                  <fa-icon [icon]="faArrowDown"></fa-icon>
                </span>
              </div>
              <p class="mb-0" *ngIf="predictionLocked">Prediction Locked</p>
            </ng-container>
            <ng-template #listShown>
              <!-- Text and arrow are hidden when the list is shown -->
              <span (click)="showDrivers = !showDrivers">
                <fa-icon [icon]="faArrowUp"></fa-icon>
              </span>
            </ng-template>
          </div>
        </div>

        <div *ngIf="showDrivers" class="row mt-3">
          <div class="col-md-6">
            <ul>
              <li *ngFor="let driver of drivers.slice(0, 10)" (click)="selectDriver(driver)">
                {{ driver.name }} {{ driver.selection }}
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li *ngFor="let driver of drivers.slice(10)" (click)="selectDriver(driver)">
                {{ driver.name }} {{ driver.selection }}
              </li>
            </ul>
          </div>
        </div>
        <button type="button" class="btn btn-outline-light btn-sm mr-3" *ngIf="areAllDriversSelected()"
          (click)="resetPredictions()">Reset Predictions</button>
        <button type="button" class="btn btn-outline-light btn-sm" *ngIf="areAllDriversSelected()"
          (click)="savePredictions()">Save Predictions</button>
      </div>
      <div class="col-md-5 bg-info p-3 rounded">
        <!-- Your table content goes here -->
        <table class="table">
          <!-- Table rows and columns -->
        </table>
      </div>
    </div>
  </div>
</div>