<div fxLayout="row">

  <div class="row">
    <div class="col-sm-3" style="padding-top: 50px;">
      <h6>Seasons</h6>
      <div class="btn-group-vertical">
        <button class="btn btn-secondary" *ngFor="let season of seasons" (click)="getDrivers(season)"
          [ngClass]="{'active': season === selectedSeason}">{{season}}</button>
      </div>
    </div>
    <div class="col-sm-8">

      <div class="table-container" style="  display: flex;
flex-direction: column;
align-items: center;">
        <nav class="navbar">
          <input class="form-control" type="text" name="familyName" [(ngModel)]="familyName"
            (ngModelChange)="search(selectedSeason)" placeholder="Enter name to search">
        </nav>
        <table class="table table-stri" style="width: 700px; background-color: #f2f2f2;">
          <thead class="thead-dark">
            <tr>
              <th></th>
              <th style="width: 80px;">Name</th>
              <th>Nationality</th>
              <th>Date of Birth</th>
              <th>Number</th>
              <th>Constructor</th>
              <th>Wins</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let driver of drivers | paginate:{itemsPerPage:6, currentPage:p};">
              <td>
                <img [src]="getDriverImage(driver)" alt="Driver image" class="driver-image">
              </td>
              <td>{{driver.givenName}} {{driver.familyName}}</td>
              <td>{{driver.nationality}} <span class="flag-icon flag-icon-{{driver.flagCode}} flag-icon-squared"></span>
              </td>
              <td>{{driver.dateOfBirth | date: 'MMM yyyy'}}</td>
              <td>{{driver.permanentNumber}}</td>
              <td>{{driver.constructorId}}</td>
              <td>{{driver.winsSeason}}</td>

            </tr>
          </tbody>
          <pagination-controls (pageChange)="p = $event"
            style="position:fixed;bottom:0; width: 700px;"></pagination-controls>
        </table>

      </div>
    </div>
  </div>
</div>