<div fxLayout="row">

  <div class="row">
    <div class="col-sm-4">
      <h6>Seasons</h6>
      <div class="btn-group-vertical">
        <button class="btn btn-secondary" *ngFor="let season of seasons"
          (click)="getDrivers(season)">{{season}}</button>
      </div>
    </div>
    <div class="col-sm-8">

      <!--  <div fxFlex="60">
    <div fxLayout="column">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
  </div> -->




      <table class="table">
        <thead>
          <tr>
            <th>Family Name</th>
            <th>Nationality</th>
            <th>Given Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let driver of drivers">
            <td>{{driver.familyName}}</td>
            <td>{{driver.nationality}}</td>
            <td>{{driver.givenName}}</td>
            <td>
              <img [src]="getDriverImage(driver)" alt="Driver image" class="driver-image">
            </td>
          </tr>
        </tbody>
      </table>
      <!--<mat-paginator class="mat-paginator-page-size-label" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator> -->
    


    </div>