<section class="news-panel" aria-labelledby="f1-news-title">
  <div class="news-panel-header">
    <div>
      <p class="prediction-eyebrow">Formula 1</p>
      <h5 id="f1-news-title" class="card-title">F1 news</h5>
    </div>
    <a class="news-account" href="https://twitter.com/F1" target="_blank" rel="noopener noreferrer">@F1</a>
  </div>

  <div class="timeline-frame">
    <a class="twitter-timeline" data-tweet-limit="5" data-height="500" data-dnt="true"
      href="https://twitter.com/F1?ref_src=twsrc%5Etfw">F1 on X</a>
  </div>
</section>